@charset "UTF-8";

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-Black.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-BlackItalic.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-BlackItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-Bold.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-BoldItalic.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-Light.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-LightItalic.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-LightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-Medium.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-MediumItalic.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-Regular.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-Italic.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-UltraLight.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-UltraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Din Next";
  font-display: swap;
  /* src: url(../fonts/DINNextW1G-UltraLightIt.woff2) format("woff2"); */
  src: url(../fonts/DINNextW1G-UltraLightIt.woff) format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Din Pro";
  font-display: swap;
  /* src: url(../fonts/DINPro-CondLight.woff2) format("woff2"); */
  src: url(../fonts/DINPro-CondLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111827;
}

button,
input {
  border: none;
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.page {
  font-family: "Din Next";
  color: #111827;
}

.page__container {
  margin: 0 auto;
  width: 1290px;
  padding: 0 30px;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone svg {
  width: 18px;
  height: 18px;
}

.phone p {
  margin-left: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.phone span {
  color: #45b553;
}

.callback-btn {
  padding: 13px 25px 10px;
  background-color: #45b553;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.callback-btn.callback-btn_header {
  background: -webkit-gradient(linear, left top, right top, from(#45b553), to(#56c263));
  background: -o-linear-gradient(left, #45b553 0%, #56c263 100%);
  background: linear-gradient(90deg, #45b553 0%, #56c263 100%);
  -webkit-box-shadow: 0px 7px 15px rgba(69, 181, 83, 0.4);
          box-shadow: 0px 7px 15px rgba(69, 181, 83, 0.4);
  padding: 18px 0 15px;
  width: 180px;
}

/* Лого */

.logo p {
  font-family: "Din Pro";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.logo img {
  max-width: 184px;
}

/* Шапка */

.header {
  padding-top: 14px;
}

.header__container {
  width: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-container {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* @media (max-width: 1291px) {
    width: 100%;
  } */
}

.header__top-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.header__top-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: space-between; */
}

.header__submenu {
  grid-column: 1/3;
}

.header__submenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__submenu-item {
  margin-right: 35px;
}

.header__submenu-item:last-child {
  margin-right: 0;
}

.header__submenu-link {
  font-size: 14px;
  line-height: 17px;
  color: #4b5563;
}

.header__eye {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__eye p {
  margin-left: 8px;
  font-size: 14px;
  line-height: 17px;
  color: #4b5563;
}

.header__eye-icon {
  width: 19px;
  height: 11px;
}

.header__search {
  width: 550px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid rgba(69, 181, 83, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-row {
  max-width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 16px 20px;
  width: 100%;
}

.header__search-row svg {
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.header__search-input {
  margin-left: 14px;
  width: 90%;
  font-size: 16px;
  line-height: 19px;
  color: #9ca3af;
}

.header__search-btn {
  background: rgba(69, 181, 83, 0.15);
  height: 50px;
  border-radius: 0px 7px 7px 0px;
  width: 20%;
  display: block;
}

.header__contacts {
  margin: 0 21px 0 25px;
  width: 215px;
}

.header__contacts-map {
  font-size: 14px;
  line-height: 17px;
  color: #4b5563;
  padding-bottom: 2px;
  border-bottom: 1px dashed #9ca3af;
  margin-left: 25px;
  display: inline-block;
}