.banners {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &__banner {
    background-size: contain;
    background-repeat: no-repeat;

    width: 850px;
    height: 450px;
    padding: 73px 100px 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
  }

  &__title {
    max-width: 520px;
  }

  &__signup {
  }

  .list.matka {
    grid-template-columns: max-content;
  }

  &__block {
    background-repeat: no-repeat;
    background-size: cover;
    width: 410px;
    justify-self: end;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 40px 30px;
  }

  &__block-title {
    max-width: 275px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }

  &__block-centers {
    display: flex;
    align-items: center;
    p {
      &:first-child {
        font-size: 48px;
        line-height: 58px;
        color: #45b553;
      }

      &:last-child {
        font-size: 16px;
        line-height: 21px;
        color: #4b5563;
        padding-left: 5px;
        max-width: 170px;
      }
    }
  }

  /*  &__contraindications {
    padding: 30px 0;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.03em;
    @media (max-width: 1290px) {
      font-size: calc(24px + (17 + 17 * 0.7) * ((100vw - 320px) / 1290));
      line-height: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1290));
    }
  } */

  &__contraindications {
    margin-top: 14px;
    @media (max-width: 1290px) {
      font-size: calc(20px + (17 + 17 * 0.7) * ((100vw - 320px) / 1290));
      line-height: calc(25px + (20 + 20 * 0.7) * ((100vw - 320px) / 1290));
    }
  }
}

.swiper-banners {
  grid-row: 1/3;
  max-width: 850px;

  .swiper-button-next,
  .swiper-button-prev {
    &:focus-visible {
      outline: none;
    }
    &::after {
      padding: 10px 15px;
      background-color: rgba(255, 255, 255, 0.35);
      border-radius: 50%;
      font-size: 20px;
      color: #111827;
    }
  }

  .swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 1;
    border: 1px solid #fff;
    margin: 0 8px !important;
    &:hover {
      border: 1px solid #45b553;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #45b553;
    border: 1px solid #45b553;
    &:hover {
      border: 1px solid #45b553;
    }
  }
}

@media (max-width: 1289px) {
  .banners {
    &__container {
      grid-template-columns: 1fr max-content;
      gap: 18px;
    }

    &__banner {
      width: 100%;

      padding: 35px 60px;
      background-size: cover;
      background-position: top right;
    }

    &__block {
      max-width: 350px;
    }

    .swiper-banners {
      max-width: 100%;
    }

    .price {
      font-size: 14px;
      line-height: 17px;
      span {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

@media (max-width: 1080px) {
  .banners {
    &__banner {
      max-height: 400px;
    }

    &__title {
      font-size: 24px;
      line-height: 28px;
    }

    .list {
      grid-template-columns: repeat(2, max-content);
    }

    .btn_banner {
      width: 150px;
      font-size: 12px;
      line-height: 14px;
      padding: 15px;
    }
  }
}

@media (max-width: 1024px) {
  .banners {
    &__container {
    }
  }
}

@media (max-width: 980px) {
  .banners {
    &__block {
      display: none;
    }

    &__container {
      grid-template-columns: 1fr;
    }

    &__contraindications {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .banners {
    margin-top: 0;
    .page__container {
      max-width: 100%;
      padding: 0;
      margin: 0;
    }

    .list {
      grid-template-columns: repeat(3, max-content);
    }

    .list-text {
      font-size: 12px;
      line-height: 10px;
    }

    &__banner {
      max-height: 325px;
      padding: 45px 60px;
    }
  }
}

@media (max-width: 580px) {
  .banners {
    .list {
      gap: 10px 25px;
    }

    .swiper-slide {
      &:nth-child(1) {
        .banners__banner {
          background-position-x: 30%;
        }
      }
      &:nth-child(2) {
        .banners__banner {
          background-position-x: 70%;
        }
      }
      &:nth-child(3) {
        .banners__banner {
          background-position: 20%;
        }
      }
    }

    &__banner {
      background-size: cover;
    }
  }
}

@media (max-width: 480px) {
  .banners {
    &__banner {
      padding: 40px 45px;
    }

    .swiper-slide {
      &:nth-child(1) {
        .banners__banner {
          padding: 30px 40px;
        }
      }
      &:nth-child(2) {
        .banners__banner {
          padding: 40px;
          .banners__title {
            max-width: 250px;
          }
        }
      }
      &:nth-child(3) {
        .banners__banner {
          padding: 50px 40px;
        }
      }
    }

    .ellipse-icon {
      width: 7px !important;
      height: 7px !important;
    }

    &__title {
      /* max-width: 250px; */
      max-width: 310px;
      font-size: 28px;
    }

    .list {
      grid-template-columns: repeat(2, max-content);
    }

    .list-text {
      font-size: 12px;
      margin-left: 2px;
    }
  }
}

@media (max-width: 375px) {
  .banners {
    &__banner {
      padding: 25px 30px;
      max-height: 285px;
    }
  }
}

@media (max-width: 320px) {
  .banners {
    &__banner {
      padding: 30px 40px !important;
      max-height: 275px;
    }

    .list {
      grid-template-columns: repeat(2, max-content);
      gap: 0 18px;
    }

    .banners__title {
      font-size: 24px;
      max-width: 210px !important;
    }

    .list-text {
      font-size: 10px;
    }

    .btn_banner {
      height: 30px;
      padding: 0 !important;
    }
  }

  .swiper-banners .swiper-button-next::after,
  .swiper-banners .swiper-button-next::before {
    font-size: 15px;
  }
}

/* Анимация баннера */
.banners {
  &__banner {
    .banners__title,
    .list-item,
    .price,
    .btn_banner {
      opacity: 0;
      overflow: hidden;
      transition: opacity 0.8s ease 0.2s, overflow 0.8s ease 0.2s, transform 0.8s ease 0.2s,;
    }

    .banners__title {
      transform: translateY(10%);
    }

    .list-item {
      transform: translateX(-10%);
    }

    .price {
      transform: translateX(10%);
    }

    .btn_banner {
      transform: translateX(-20%);
    }

    &._animate {
      .banners__title,
      .list-item,
      .price,
      .btn_banner {
        opacity: 1;
        overflow: visible;
        transform: translate(0);
      }
    }
  }
}
