

.banners {
    &__container {
    }

    &__banner {
        background-size: 100% 100%;
        width: 850px;
        height: 450px;
    }

    &__title {
    }

    &__list {
    }

    &__list-item {
    }

    &__list-text {
    }

    &__price {
    }
}
