.banners {
  /* margin-top: 36px; */
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &__banner {
    background-size: contain;
    background-repeat: no-repeat;

    width: 850px;
    height: 450px;
    padding: 73px 100px 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
  }

  &__title {
    max-width: 520px;
  }

  &__signup {
  }

  

  &__block {
    background-repeat: no-repeat;
    background-size: cover;
    width: 410px;
    justify-self: end;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 40px 30px;
  }

  &__block-title {
    max-width: 275px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }

  &__block-centers {
    display: flex;
    align-items: center;
    p {
      &:first-child {
        font-size: 48px;
        line-height: 58px;
        color: #45b553;
      }

      &:last-child {
        font-size: 16px;
        line-height: 21px;
        color: #4b5563;
        padding-left: 5px;
        max-width: 170px;
      }
    }
  }

  &__contraindications {
    margin-top: 14px;
  }
}

.swiper-banners {
  grid-row: 1/3;
  max-width: 850px;

  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      padding: 10px 15px;
      background-color: rgba(255, 255, 255, 0.35);
      border-radius: 50%;
      font-size: 20px;
      color: #111827;
    }
  }

  .swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 1;
    border: 1px solid #fff;
    margin: 0 8px !important;
    &:hover {
      border: 1px solid #45b553;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #45b553;
    border: 1px solid #45b553;
    &:hover {
      border: 1px solid #45b553;
    }
  }
}
