.breadcrumbs {
  padding: 22px 0 10px;
  border-top: 1px solid #e5e7eb;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 14px;
    line-height: 17px;
    &::after {
      content: "/";
      margin: 0 15px 0 11px;
    }

    &:nth-last-child(2) {
      color: #9ca3af;
    }

    &:last-child {
      &::after {
        all: initial;
      }
    }
  }

  &__link {
  }

  &__current {
    color: #9ca3af;
  }
}
