.content {
    padding: 20px 0;
    p {
        font-size: 16px;
        line-height: 26px;
        margin: 20px 0;
    }

    ul {
        margin: 15px 0;
        list-style: disc;
        padding-left: 20px;
        li {
            font-size: 16px;
            line-height: 22px;
            color: #111827;
            opacity: 0.7;
            margin-bottom: 7px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    h3 {
        font-size: 30px;
        line-height: 36px;
    }

    h4 {
        font-size: 24px;
        line-height: 23px;
        padding: 10px 0;
    }
}
