.footer {
  &__top {
    margin: 80px 0 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
  }

  &__menu {
    .footer__grid-title {
      padding-bottom: 25px;
    }
  }

  &__grid-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #177122;
    opacity: 0.5;
  }

  &__menu-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 15px 50px;

    a {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__contacts {
    justify-self: end;
    .footer__grid-title {
      padding-bottom: 12px;
    }
  }

  &__contacts-number {
    font-size: 13px;
    line-height: 15px;
    color: #9ca3af;
    padding-bottom: 2px;
  }

  .logo {
    grid-row: 1/1;
  }

  .btn_main {
    margin-top: 25px;
    width: 100%;
    height: 40px;
    min-height: initial !important;

    @media (max-width: 1289px) {
      width: 100% !important;
    }
  }

  .phone {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__bottom {
    background: #f3f4f6;
  }

  &__additionally {
    padding-top: 45px;
    display: grid;
    grid-template-columns: max-content 1fr min-content;
    align-items: center;
  }

  &__copyright,
  &__info-list a {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #9ca3af;
  }

  &__info,
  &__info-list,
  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    justify-content: flex-start;
    justify-self: end;
  }

  &__info {
    justify-content: flex-end;
  }

  &__info-list {
    margin-right: 30px;
    li {
      margin-right: 45px;
      &:last-child {
        margin: 0;
      }
    }
  }

  &__social {
    li {
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
    }
    a {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #9ca3af;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  &__contraindications {
    padding: 30px 0;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.03em;
    @media (max-width: 1290px) {
      font-size: calc(24px + (17 + 17 * 0.7) * ((100vw - 320px) / 1290));
      line-height: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1290));;
    }
  }
}

@media (max-width: 1080px) {
  .footer {
    &__grid {
      grid-template-columns: repeat(2, max-content);
      gap: 10%;
    }

    &__contraindications {
      text-align: left;
    }

    .logo {
      grid-column: 1/3;
    }

    &__menu {
      &:nth-of-type(1) {
        grid-row: 2/3;
        grid-column: 1/2;
      }

      &:nth-of-type(2) {
        grid-row: 2/3;
        grid-column: 2/3;
      }
    }

    &__contacts {
      grid-row: 3/4;
      grid-column: 1/2;
      justify-self: baseline;
    }

    &__bottom {
      margin-top: 110px;
    }

    &__additionally {
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
      gap: 25px 0;
    }

    &__social {
      justify-self: start;
    }

    &__info-list {
      margin-right: 0;
    }
  }
}

@media(max-width: 900px) {
  .footer {
    &__additionally {
      grid-template-columns: max-content;
      justify-content: space-between;
      gap: 25px 0;
    }
  }
}

@media(max-width: 600px) {
  .footer {
    &__grid {
      grid-template-columns: max-content;
      > * {
        grid-column: initial !important;
        grid-row: initial !important;
      }
    }

    &__menu-list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__bottom {
      margin-top: 200px;
    }

    &__additionally {
      gap: 30px 0;
    }

    &__info {
      justify-content: flex-start;
    }

    &__info-list {
      flex-direction: column;
      align-items: flex-start;
      li {
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media(max-width: 374px) {
  .footer {
    &__copyright {
      font-size: 12px;
    }
  }
}
