.form {
    padding: 35px 50px;
    background-color: #fff;
    border-radius: 13px;
    max-width: 460px;
    &__img {
        display: block;
        margin: 25px auto;
        max-width: 80px;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        padding: 0 10px;
    }

    &__rows {
        margin: 35px 0;
    }

    &__row {
        border: 1px solid rgba(69, 181, 83, 0.6);
        border-radius: 7px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }

        &.focus {
            border: 1px solid rgba(69, 181, 83, 1);
        }

        &:target {
            border: 1px solid #45B553;
        }
    }

    &__input {
        font-size: 16px;
        line-height: 19px;
        margin: 5px 0;
        max-width: 80%;
    }

    &__label {
        font-size: 14px;
        line-height: 14px;
        color: #9ca3af;
    }

    &__politics {
        margin-top: 40px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #9ca3af;
        a {
            text-decoration: underline;
            color: #9ca3af;
        }
    }

    .btn {
        box-shadow: 0px 7px 15px rgba(69, 181, 83, 0.4);
        margin: 0 auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        width: 180px;
        height: 50px;
        display: block;
        &:hover {
            background: linear-gradient(90deg, #56c263 0%, #4bbd59 100%);
            box-shadow: initial;
        }
    }
}


@media(max-width: 580px) {
    .form {
        max-width: calc(300px + (160 + 160 * 0.7) * ((100vw - 320px) / 580));
        padding: 35px calc(20px + (30 + 30 * 0.7) * ((100vw - 320px) / 580));

        &__title {
            font-size: calc(25px + (5 + 5 * 0.7) * ((100vw - 320px) / 580));
        }

        &__rows {
            margin: 30px 0;
        }

        &__politics {
            margin-top: calc(27px + (13 + 13 * 0.7) * ((100vw - 320px) / 580));
        }
    }
}