.header {
  padding-top: 14px;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 10px 0; */
  }

  &__submenu {
    grid-column: 2/4;
    grid-row: 1/2;
  }

  &__submenu-list {
    display: flex;
    align-items: center;
  }

  &__submenu-item {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__submenu-link {
    font-size: 14px;
    line-height: 17px;
    color: #4b5563;
  }

  &__eye {
    grid-column: 4/5;
    justify-self: end;
    display: flex;
    align-items: center;
    p {
      margin-left: 8px;
      font-size: 14px;
      line-height: 17px;
      color: #4b5563;
    }
  }

  &__eye-icon {
    width: 19px;
    height: 11px;
  }

  &__search {
    grid-column: 2/3;
    width: 550px;
    min-height: 100%;
    border-radius: 7px;
    border: 1px solid rgba(69, 181, 83, 0.6);
    display: flex;

    align-items: center;
  }

  &__search-row {
    max-width: 445px;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 18px 0 16px 20px;
    width: 100%;
    svg {
      width: 16px;
      height: 16px;
      opacity: 0.5;
    }
  }

  &__search-input {
    margin-left: 14px;
    width: 90%;
    font-size: 16px;
    line-height: 19px;
    color: #9ca3af;
  }

  &__search-btn {
    background: rgba(69, 181, 83, 0.15);
    min-height: 100%;
    border-radius: 0px 7px 7px 0px;
    width: 20%;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #45b553;
  }

  &__contacts {
    margin: 0 21px 0 25px;
    width: 215px;
  }

  &__contacts-map {
    font-size: 14px;
    line-height: 17px;
    color: #4b5563;
    padding-bottom: 2px;
    border-bottom: 1px dashed #9ca3af;
    display: inline-block;
    margin: 8px 0 0 25px;
  }

  &__submenu,
  &__eye {
    margin-bottom: 10px;
  }
}

@media (max-width: 1289px) {
  .header {
    &__container {
      grid-template-columns: 1fr 1fr;
      /* gap: 0; */
    }

    &__submenu,
    &__search,
    &__eye,
    &__contacts {
      display: none;
    }

    &__submenu-list {
    }

    &__submenu-item {
    }

    &__submenu-link {
    }

    &__eye {
    }

    &__eye-icon {
    }

    &__search {
    }

    &__search-row {
    }

    &__search-input {
    }

    &__search-btn {
    }

    &__contacts {
    }

    &__contacts-map {
    }
  }
}
