.licenses {
  &.licenses_about {
    grid-column: 2/3;
    margin-left: 30px;
    max-width: 76%;
    @media(max-width: 1080px) {
      grid-column: initial;
      margin-left: 0;
      max-width: 100%;
    }
  }

  &.licenses_main {
    border-top: 1px solid #e5e7eb;
    padding-top: 70px;
    @media (max-width: 1289px) {
      .page__container {
        padding-right: 0;
      }
    }

    @media (max-width: 1080px) {
      margin-bottom: 60px;
    }
  }

  &__list {
    max-width: 770px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 120px;

    @media (max-width: 1080px) {
      grid-template-columns: repeat(auto-fit, 234px);
      gap: 20px;
      max-width: 100%;
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, 222px);
      .licenses__item {
        max-width: 222px;
      }
    }

    @media(max-width: 480px) {
      grid-template-columns: 1fr;
      .licenses__item {
        max-width: 100%;

        .licenses__img {
          width: 100%;
          height: 400px;
          object-fit: contain;

        }

        .licenses__name {
          text-align: center;
        }
      }
    }
  }

  &__name {
    margin-top: 10px;
    font-weight: 500;
  }

  &__item {
    max-width: 234px;
    padding: 22px 26px;
    border: 1px solid #e5e7eb;
    border-radius: 7px;
    @media(max-width: 768px) {
      padding: 22px;
    }
  }

  &__img {
    width: 182px;
    height: 260px;
    object-fit: cover;
    &:hover {
      cursor: pointer;
    }
  }

  &__container-for-arrows {
    position: relative;
    .swiper-button-next,
    .swiper-button-prev {
      @media (max-width: 1289px) {
        display: none;
      }
      &::after {
        font-size: 25px;
        color: #9ca3af;
      }
    }

    .swiper-button-next {
      right: -40px;
    }

    .swiper-button-prev {
      left: -40px;
    }
  }
}

.swiper.swiper-licenses {
  margin-top: 40px;

  .swiper-scrollbar {
    position: relative;
    height: 6px;
    margin-top: 15px;

    @media (min-width: 1290px) {
      display: none;
    }

    @media (max-width: 1289px) {
      width: calc(100vw - 60px);
    }

    @media (max-width: 560px) {
      width: calc(100vw - 30px);
    }
  }
}
