.logo {
    p {
        font-family: "Din Pro";
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.015em;
        text-transform: uppercase;
    }

    img {
        max-width: 184px;
    }
}
