.popular {
  margin: 0 0 65px;

  &__container {
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }

  &__card {
    width: 234px;
    height: 220px;
  }

  &__card-link {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
  }

  &__card-img {
    border-radius: 5px;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__card-text {
    font-family: "Din Next";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #ffffffb3;
    border-radius: 6px;
    margin: 0 10px 12px;
  }
}
