.services {
    .hash {
        @media (max-width: 1289px) {
            padding-right: 0;
        }
    }

    &__hashtags {
        margin: 35px 0 10px;
        display: flex;
        align-items: center;
        @media (max-width: 1289px) {
            overflow: auto;
            height: 45px;
            margin: 35px 0;
        }

        @media (min-width: 1290px) {
            flex-wrap: wrap;
        }
    }

    &__hashtag {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }

        @media (min-width: 1290px) {
            margin-bottom: 40px;
        }
    }

    &__hashtag-link {
        white-space: nowrap;
        font-size: 14px;
        line-height: 17px;
        padding: 14px 25px;
        background: rgba(69, 181, 83, 0.1);
        border-radius: 50px;
    }

    &__container {
        display: grid;
        grid-template-columns: 23% 1fr;
        gap: 30px;
        padding-bottom: 70px;
        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 1024px) {
            padding-bottom: 45px;
        }
    }

    &__list {
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: baseline;
        border: 1px solid #e5e7eb;
        border-radius: 7px;
        padding: 25px 40px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 480px) {
            padding: 25px;
        }
    }

    &__item-title {
        grid-column: 1/3;
        grid-row: 1/2;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 15px;

        @media (max-width: 480px) {
            font-size: 18px;
        }
    }

    &__item-description {
        grid-column: 1/3;
        grid-row: 2/3;
        padding-left: 20px;
        padding-bottom: 15px;
        li {
            list-style-type: disc;
            font-size: 16px;
            line-height: 22px;
            color: #6b7280;

            @media (max-width: 480px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__item-ready {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 14px;
        line-height: 24px;
        color: #ff6d3b;
        display: flex;
        align-items: center;
        padding-right: 30px;
    }

    &__location {
        grid-column: 2/4;
        grid-row: 3/4;
        font-size: 14px;
        line-height: 20px;
        display: flex;
    }

    &__service {
        display: grid;
        grid-template-columns: 65% 30%;
        justify-content: space-between;
    }

    &__service-title {
        font-size: 30px;
        line-height: 36px;
        max-width: 480px;
        grid-column: 1/2;

        @media (max-width: 1024px) {
            max-width: 100%;
        }

        @media (max-width: 480px) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__result {
        padding: 50px 70px;
        display: flex;
        grid-column: 1/3;

        @media (max-width: 768px) {
            padding: 50px;
        }

        @media (max-width: 480px) {
            padding: 50px 25px;
        }
    }

    &__result-container {
        max-width:620px;
        > * {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__result-btns {
        display: flex;
        align-items: stretch;
        .btn {
            width: 100%;
            background-color: inherit;
            max-width: 100% !important;
            margin-right: 30px;
            font-size: 14px;
            line-height: 17px;
            color: #45b553;
            border: 1px solid #45b553;
            &:hover {
                color: #fff;
                background-color: #45b553;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        @media (max-width: 650px) {
            flex-direction: column;

            .btn {
                margin-right: 0;
                margin-bottom: 20px;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__result-img {
        object-fit: contain;
        margin-left: 90px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .content {
        grid-column: 1/2;
    }

    .time-icon {
    }
    .orange-map-icon {
        padding-top: 2px;
        flex-shrink: 0;
    }
    .price {
        grid-column: 3/4;
        grid-row: 1/2;
        position: relative;
        justify-self: end;
        &_old {
            position: absolute;
            top: -30%;
            right: 0;
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            @media (max-width: 767px) {
                top: -40%;
            }
        }
    }
    .btn {
        grid-column: 3/4;
        grid-row: 2/3;
        max-width: 135px;
        justify-self: end;
        &:hover {
            box-shadow: 0px 7px 15px rgba(69, 181, 83, 0.6);
        }

        @media (max-width: 320px) {
            grid-column: 1/3;
            grid-row: 6/7;
            justify-self: start;
            margin-top: 10px;
        }
    }

    &__service-right {
        grid-column: 2/3;
        grid-row: 1/4;
        > * {
            margin-bottom: 22px;
        }
    }
}

@media (max-width: 900px) {
    .services {
        &__service {
            grid-template-columns: 1fr;
            &-right {
                grid-column: 1/2;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .price-block {
                    padding: 30px 25px;
                    .btn {
                        padding: 12px 18px;
                    }
                }

                > * {
                    flex-basis: 31%;
                }
                .props-block {
                    padding: 45px 25px;
                    > div {
                        max-width: 80%;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .services {
        &__item {
            grid-template-columns: 1fr 1fr;

            &-ready {
                grid-column: 1/3;
                margin-bottom: 15px;
            }

            .services__location {
                grid-column: 1/3;
                grid-row: 4/5;
                margin-bottom: 15px;
            }

            .price {
                grid-column: 1/2;
                justify-self: start;
                align-self: center;
                grid-row: 5/6;
                padding: 0;
                margin-top: 7px;
            }

            .btn {
                grid-column: 2/3;
                grid-row: 5/6;
            }
        }

        &__service-right {
            flex-direction: column;
            > * {
                flex-basis: initial;
                width: 100%;
            }

            .price-block .btn {
                width: 40% !important;
                @media (max-width: 480px) {
                    width: 65% !important;
                }

                @media (max-width: 320px) {
                    width: 80% !important;
                }
            }

            .props-block {
                padding: 30px 25px;
            }
        }
    }
}
