@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    /* src: url(../fonts/#{$file_name}.woff2) format("woff2"); */
    src: url(../fonts/#{$file_name}.woff) format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

@import "normalize";

body {
  font-family: "Din Next";
}
.page {
  color: #111827;

  &__container {
    margin: 0 auto;
    max-width: 1290px;
    @media (max-width: 1290px) {
      padding: 0 30px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;
    margin: 22px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: initial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111827;
}

button,
input {
  border: none;
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

h1 {
  font-family: "Din Next";
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
}

h2,
.section__title {
  font-family: "Din Next";
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

h3 {
  font-family: "Din Next";
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

section {
  margin: 30px 0 60px;
  /* &:first-child {
    margin-top: 30px;
  } */
}

/* Номер телефона */
.phone {
  display: flex;
  align-items: center;
  svg {
    width: 18px;
    height: 18px;
  }
  p {
    margin-left: 7px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  span {
    color: #45b553;
  }
}

.email {
  display: flex;
  align-items: center;
  svg {
    width: 16px;
    height: 16px;
  }
  p {
    font-size: 18px;
    line-height: 22px;
    margin-left: 7px;
  }
}

/* Иконка кружка */
.ellipse-icon {
  width: 12px !important;
  height: 12px !important;
}

.visually-hidden {
  display: none;
}

/* Кнопки */
.btn {
  font-family: "Din Next";
  padding: 13px 25px 10px;
  background-color: #45b553;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  color: #ffffff;
  &.btn_main {
    background: linear-gradient(90deg, #45b553 0%, #56c263 100%);
    box-shadow: 0px 7px 15px rgba(69, 181, 83, 0.4);
    padding: 18px 0 15px;
    width: 180px;
    justify-self: end;
    padding: 0 !important;
    min-height: 100%;

    &:hover {
      background: linear-gradient(90deg, #56C263 0%, #4BBD59 100%);
      box-shadow: initial;
    }
    @media (max-width: 1289px) {
      width: 144px;
      height: 40px;
      font-size: 12px;
      line-height: 14px;
      min-height: 80%;
      align-self: center;
    }
  }
  &.btn_banner {
    width: 210px;
    height: 50px;
  }

  &.btn_banners-block {
    color: #111827;
    background-color: #ffffff;
    width: 165px;
    height: 50px;
  }
  &.btn_white {
    background-color: #ffffff;
    color: #45b553;
    border: 1px solid #45b553;
    border-radius: 7px;
    width: 140px;
    height: 50px;
    padding: 15px 28px;
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    &:hover {
      color: #fff;
      background-color: #45b553;
    }
  }

  &.btn_all {
    
    border: 1px solid #9ca3af;
    color: #111827;
    border-radius: 7px;
    background: #fff;
    text-transform: initial;
  }
}

/* Список */
.list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 15px 50px;
  &.list_one-column {
    grid-template-columns:  max-content;
  }
}

.list-item {
  a,
  .banners .list-item p {
    display: flex;
    align-items: center;
    svg {
      flex-grow: 0;
      flex-shrink: 0;
      margin-top: 3px;
    }
  }
}

.list-text {
  font-family: "Din Next";
  font-size: 16px;
  margin-left: 8px;
  flex-grow: 0;
}

.all-link {
  font-family: "Din Next";
  display: inline-block;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #45b553;

  &.section__all {
    position: relative;
    padding: 8px 10px;
    &:hover {
      background-color: rgba(69, 181, 83, 0.09);

      border-radius: 6px;
    }
  }

  svg {
    padding-left: 6px;
    width: 24px;
    height: 12px;
  }
}

.section__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 35px;
}

.contraindications {
  font-family: "Din Pro";
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.014em;
  color: #d1d5db;
  text-align: center;
}

.light-green-block {
  background: linear-gradient(
    180deg,
    rgba(228, 244, 234, 0.75) 0%,
    rgba(249, 246, 229, 0.75) 100%
  );
  border-radius: 5px;
  padding: 28px 40px 15px;
}

/* Лого */
@import "logo";

/* Шапка */
@import "header";

/* Хлебные крошки */
@import "breadcrumbs";

/* Меню */
@import "menu";

/* Баннеры */
@import "banners";

/* Специальности */
@import "specialties";

/* Диагностика */
@import "diagnostics";

/* Популярные услуги */
@import "popular";

/* Врачи */
@import "doctors";

/* Почему Hellix, о компании */
@import "about";

/* Лицензии */
@import "licenses";

/* Яндекс Карты */
@import "maps";

/* Подвал */
@import "footer";

/* Результаты поиска */
@import "search-result";
