<section class="about about_main">
    <div class="page__container ">
        <div class="about__container">
            <img class="about__photo" src="./img/about/photo.png" alt="#">
            <div class="about__block">
                <h2 class="section__title">Почему Hellix</h2>
                <div class="about__info">
                    <p>Лабораторная служба «Хеликс» выполняет более 2000 наименований
                        исследований для более чем 1500 частных и государственных медицинских учреждений, оказывает
                        услуги
                        клиентам в 130 городах России, имеет 5 лабораторных комплекса площадью более 6 000 м2 в Москве,
                        Санкт-Петербурге, Екатеринбурге, Краснодаре и Новосибирске. </p>
                    <div class="about__mission">
                        <h3>Наша миссия</h3>
                        <p>Предоставить доступ к лучшим услугам и специалистам в своей
                            области в одном месте. Мы делаем упор на качестве предоставляемых услуг и сервисе для наших
                            пациентов.</p>
                        <ul>
                            <li>
                                <img src="./img/about/1.png" alt="#">
                                <p>Врачи высокой квалицикации</p>
                            </li>
                            <li>
                                <img src="./img/about/2.png" alt="#">
                                <p>Современное диагностическое оборудование</p>
                            </li>
                            <li>
                                <img src="./img/about/3.png" alt="#">
                                <p>Быстрое получение результата</p>
                            </li>
                            <li>
                                <img src="./img/about/4.png" alt="#">
                                <p>8 центров в Тюмени</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>