<section class="banners">
    <div class="page__container">
        <div class="banners__container">

            <!-- Свайпер -->
            <div class="swiper swiper-banners">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div style="background-image: url(./img/banners/uzi.png);" class="banners__banner">
                            <h1 class="banners__title">
                                Ультразвуковая диагностика (УЗИ)
                            </h1>
                            <ul class="list">
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">Сердца</span>
                                    </p>
                                </li>
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">Щитовидной железы</span>
                                    </p>
                                </li>
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse">Сосудов шеи и головы</use>
                                        </svg>
                                        <span class="list-text">Сосудов шеи и головы</span>
                                    </p>
                                </li>
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">Почек</span>
                                    </p>
                                </li>
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">Молочной железы</span>
                                    </p>
                                </li>
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">Таза</span>
                                    </p>
                                </li>
                            </ul>
                            <div class="banners__signup">
                                <p class="banners__price">от <span>1200 ₽</span></p>
                                <button class="btn btn_banner">Записаться на узи</button>
                            </div>

                        </div>

                    </div>
                    <div class="swiper-slide">

                        <div style="background-image: url(./img/banners/matka.png);" class="banners__banner">
                            <h1 class="banners__title">Онкоскрининг шейки матки</h1>
                            <ul class="list list_one-column">
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">Тест на ВПЧ высокого онкогенного риска</span>
                                    </p>
                                    <p class="banners__price matka"><span>2570 ₽</span> <sup class="banners__price_old"> 5065 ₽</sup> </p>
                                </li>
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">ВПЧ-тест + жидкостная цитология </span>
                                    </p>
                                    <p class="banners__price matka"><span>3690 ₽</span> <sup class="banners__price_old">6020 ₽</sup></p>
                                </li>
                            </ul>
                            <div class="banners__signup">
                                <button class="btn btn_banner">Записаться</button>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide">

                        <div style="background-image: url(./img/banners/covid.png);" class="banners__banner">
                            <h1 class="banners__title">ПЦР тест на Covid-19</h1>
                            <ul class="list list_one-column">
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">Забор мазка</span>
                                    </p>
                                </li>
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">Справка на двух языках</span>
                                    </p>
                                </li>
                                <li class="list-item">
                                    <p>
                                        <svg class="ellipse-icon">
                                            <use href="./img/icons/icons.svg#ellipse"></use>
                                        </svg>
                                        <span class="list-text">QR-код</span>
                                    </p>
                                </li>
                            </ul>
                            <div class="banners__signup">
                                <p class="banners__price"><span>1500 ₽</span></p>
                                <button class="btn btn_banner">Записаться</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <!-- Конец свайпера -->

            <!-- <div style="background-image: url(./img/banners/biomaterial.png);" class="banners__block">
                <h2 class="banners__block-title">Мобильная служба на дом для забора биоматериала</h2>
                <button class="btn btn_banners-block">Вызвать</button>
            </div> -->
            <div style="background-image: url(./img/banners/modelirovanie.png);" class="banners__block">
                <h2 class="banners__block-title">Объемное моделирование губ</h2>
                <button class="btn btn_banners-block">Записаться</button>
            </div>
            <div style="background-image: url(./img/banners/centers.png);" class="banners__block">
                <h2 class="banners__block-title">Выберите удобное отделение поблизости</h2>
                <div class="banners__block-centers">
                    <p>8</p>
                    <p>Медицинских центров в Тюмени</p>
                </div>
            </div>
        </div>
        <p class="contraindications banners__contraindications">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМО ПОЛУЧЕНИЕ
            КОНСУЛЬТАЦИИ СПЕЦИАЛИСТА
        </p>
    </div>
</section>