<section class="banners">
    <div class="page__container">
        <div class="banners__container">
            <div class="swiper swiper-banners">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div style="background-image: url(./img/banners/uzi.png);" class="banners__banner">
                            <h2 class="banners__title">
                                Ультразвуковая диагностика (УЗИ)
                            </h2>
                            <ul class="banners__list">
                                <li class="banners__list-item">
                                    <svg class="ellipse-icon">
                                        <use href="./img/icons/icons.svg#ellipse"></use>
                                    </svg>
                                    <span class="banners__list-text">Сердца</span>
                                </li>
                                <li class="banners__list-item">
                                    <svg class="ellipse-icon">
                                        <use href="./img/icons/icons.svg#ellipse"></use>
                                    </svg>
                                    <span class="banners__list-text">Почек</span>
                                </li>
                                <li class="banners__list-item">
                                    <svg class="ellipse-icon">
                                        <use href="./img/icons/icons.svg#ellipse"></use>
                                    </svg>
                                    <span class="banners__list-text">Щитовидной железы</span>
                                </li>
                                <li class="banners__list-item">
                                    <svg class="ellipse-icon">
                                        <use href="./img/icons/icons.svg#ellipse"></use>
                                    </svg>
                                    <span class="banners__list-text">Молочной железы</span>
                                </li>
                                <li class="banners__list-item">
                                    <svg class="ellipse-icon">
                                        <use href="./img/icons/icons.svg#ellipse"></use>
                                    </svg>
                                    <span class="banners__list-text">Сосудов шеи и головы</span>
                                </li>
                                <li class="banners__list-item">
                                    <svg class="ellipse-icon">
                                        <use href="./img/icons/icons.svg#ellipse"></use>
                                    </svg>
                                    <span class="banners__list-text">Таза</span>
                                </li>
                            </ul>

                            <p class="banners__price">от <span>1200 ₽</span></p>
                            <button class="callback-btn">Записаться на узи</button>
                        </div>
                        
                    </div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>