<div class="centers">
    <div class="page__container">
        <ul class="centers__list">
            <li class="centers__item">
                <img src="./img/center.png" alt="#" class="centers__img">
                <div class="centers__description">
                    <h3 class="centers__title">ДЦ на Ямской</h3>
                    <p class="centers__info">Анализы, капельницы, ПЦР тесты на COVID-19, экспресс ЭКГ, приемы врачей
                        акушеров гинекологов, врачей УЗИ и неврологов. </p>
                    <div class="centers__contacts">
                        <div class="centers__location">
                            <svg class="orange-map-icon">
                                <use href="./img/icons/icons.svg#map-orange"></use>
                            </svg>
                            <span>Тюмень, ул. Свердлова 21 </span>
                        </div>
                        <div class="centers__mode">
                            <svg>
                                <use href="./img/icons/icons.svg#time"></use>
                            </svg>
                            <span>Пн-Вс, с 8:00 - 21:00</span>
                        </div>
                        <a href="tel:+73452355560" class="phone centers__phone">
                            <svg>
                                <use href="./img/icons/icons.svg#phone"></use>
                            </svg>
                            <span>8 3452 35-55-60</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="centers__item">
                <img src="./img/center.png" alt="#" class="centers__img">
                <div class="centers__description">
                    <h3 class="centers__title">ДЦ на Ямской</h3>
                    <p class="centers__info">Анализы, капельницы, ПЦР тесты на COVID-19, экспресс ЭКГ, приемы врачей
                        акушеров гинекологов, врачей УЗИ и неврологов. Анализы, капельницы, ПЦР тесты на COVID-19,
                        экспресс ЭКГ, приемы врачей акушеров гинекологов, врачей УЗИ и неврологов. </p>
                    <div class="centers__contacts">
                        <div class="centers__location">
                            <svg class="orange-map-icon">
                                <use href="./img/icons/icons.svg#map-orange"></use>
                            </svg>
                            <span>Тюмень, ул. Свердлова 21 </span>
                        </div>
                        <div class="centers__mode">
                            <svg>
                                <use href="./img/icons/icons.svg#time"></use>
                            </svg>
                            <span>Пн-Вс, с 8:00 - 21:00</span>
                        </div>
                        <a href="tel:+73452355560" class="phone centers__phone">
                            <svg>
                                <use href="./img/icons/icons.svg#phone"></use>
                            </svg>
                            <span>8 3452 35-55-60</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="centers__item">
                <img src="./img/center.png" alt="#" class="centers__img">
                <div class="centers__description">
                    <h3 class="centers__title">ДЦ на Ямской</h3>
                    <p class="centers__info">Анализы, капельницы, ПЦР тесты на COVID-19, экспресс ЭКГ, приемы врачей
                        акушеров гинекологов, врачей УЗИ и неврологов. Анализы, капельницы, ПЦР тесты на COVID-19,
                        экспресс ЭКГ, приемы врачей акушеров гинекологов, врачей УЗИ и неврологов. </p>
                    <div class="centers__contacts">
                        <div class="centers__location">
                            <svg class="orange-map-icon">
                                <use href="./img/icons/icons.svg#map-orange"></use>
                            </svg>
                            <span>Тюмень, ул. Свердлова 21 </span>
                        </div>
                        <div class="centers__mode">
                            <svg>
                                <use href="./img/icons/icons.svg#time"></use>
                            </svg>
                            <span>Пн-Вс, с 8:00 - 21:00</span>
                        </div>
                        <a href="tel:+73452355560" class="phone centers__phone">
                            <svg>
                                <use href="./img/icons/icons.svg#phone"></use>
                            </svg>
                            <span>8 3452 35-55-60</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="centers__item">
                <img src="./img/center.png" alt="#" class="centers__img">
                <div class="centers__description">
                    <h3 class="centers__title">ДЦ на Ямской</h3>
                    <p class="centers__info">Анализы, капельницы, ПЦР тесты на COVID-19, экспресс ЭКГ, приемы врачей
                        акушеров гинекологов, врачей УЗИ и неврологов. Анализы, капельницы, ПЦР тесты на COVID-19,
                        экспресс ЭКГ, приемы врачей акушеров гинекологов, врачей УЗИ и неврологов. </p>
                    <div class="centers__contacts">
                        <div class="centers__location">
                            <svg class="orange-map-icon">
                                <use href="./img/icons/icons.svg#map-orange"></use>
                            </svg>
                            <span>Тюмень, ул. Свердлова 21 </span>
                        </div>
                        <div class="centers__mode">
                            <svg>
                                <use href="./img/icons/icons.svg#time"></use>
                            </svg>
                            <span>Пн-Вс, с 8:00 - 21:00</span>
                        </div>
                        <a href="tel:+73452355560" class="phone centers__phone">
                            <svg>
                                <use href="./img/icons/icons.svg#phone"></use>
                            </svg>
                            <span>8 3452 35-55-60</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="centers__item">
                <img src="./img/center.png" alt="#" class="centers__img">
                <div class="centers__description">
                    <h3 class="centers__title">ДЦ на Ямской</h3>
                    <p class="centers__info">Анализы, капельницы, ПЦР тесты на COVID-19, экспресс ЭКГ, приемы врачей
                        акушеров гинекологов, врачей УЗИ и неврологов. Анализы, капельницы, ПЦР тесты на COVID-19,
                        экспресс ЭКГ, приемы врачей акушеров гинекологов, врачей УЗИ и неврологов. </p>
                    <div class="centers__contacts">
                        <div class="centers__location">
                            <svg class="orange-map-icon">
                                <use href="./img/icons/icons.svg#map-orange"></use>
                            </svg>
                            <span>Тюмень, ул. Свердлова 21 </span>
                        </div>
                        <div class="centers__mode">
                            <svg>
                                <use href="./img/icons/icons.svg#time"></use>
                            </svg>
                            <span>Пн-Вс, с 8:00 - 21:00</span>
                        </div>
                        <a href="tel:+73452355560" class="phone centers__phone">
                            <svg>
                                <use href="./img/icons/icons.svg#phone"></use>
                            </svg>
                            <span>8 3452 35-55-60</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="centers__item">
                <img src="./img/center.png" alt="#" class="centers__img">
                <div class="centers__description">
                    <h3 class="centers__title">ДЦ на Ямской</h3>
                    <p class="centers__info">Анализы, капельницы, ПЦР тесты на COVID-19, экспресс ЭКГ, приемы врачей
                        акушеров гинекологов, врачей УЗИ и неврологов. Анализы, капельницы, ПЦР тесты на COVID-19,
                        экспресс ЭКГ, приемы врачей акушеров гинекологов, врачей УЗИ и неврологов. </p>
                    <div class="centers__contacts">
                        <div class="centers__location">
                            <svg class="orange-map-icon">
                                <use href="./img/icons/icons.svg#map-orange"></use>
                            </svg>
                            <span>Тюмень, ул. Свердлова 21 </span>
                        </div>
                        <div class="centers__mode">
                            <svg>
                                <use href="./img/icons/icons.svg#time"></use>
                            </svg>
                            <span>Пн-Вс, с 8:00 - 21:00</span>
                        </div>
                        <a href="tel:+73452355560" class="phone centers__phone">
                            <svg>
                                <use href="./img/icons/icons.svg#phone"></use>
                            </svg>
                            <span>8 3452 35-55-60</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="centers__item">
                <img src="./img/center.png" alt="#" class="centers__img">
                <div class="centers__description">
                    <h3 class="centers__title">ДЦ на Ямской</h3>
                    <p class="centers__info">Анализы, капельницы, ПЦР тесты на COVID-19, экспресс ЭКГ, приемы врачей
                        акушеров гинекологов, врачей УЗИ и неврологов. Анализы, капельницы, ПЦР тесты на COVID-19,
                        экспресс ЭКГ, приемы врачей акушеров гинекологов, врачей УЗИ и неврологов. </p>
                    <div class="centers__contacts">
                        <div class="centers__location">
                            <svg class="orange-map-icon">
                                <use href="./img/icons/icons.svg#map-orange"></use>
                            </svg>
                            <span>Тюмень, ул. Свердлова 21 </span>
                        </div>
                        <div class="centers__mode">
                            <svg>
                                <use href="./img/icons/icons.svg#time"></use>
                            </svg>
                            <span>Пн-Вс, с 8:00 - 21:00</span>
                        </div>
                        <a href="tel:+73452355560" class="phone centers__phone">
                            <svg>
                                <use href="./img/icons/icons.svg#phone"></use>
                            </svg>
                            <span>8 3452 35-55-60</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="centers__item">
                <img src="./img/center.png" alt="#" class="centers__img">
                <div class="centers__description">
                    <h3 class="centers__title">ДЦ на Ямской</h3>
                    <p class="centers__info">Анализы, капельницы, ПЦР тесты на COVID-19, экспресс ЭКГ, приемы врачей акушеров гинекологов, врачей УЗИ и неврологов. </p>
                    <div class="centers__contacts">
                        <div class="centers__location">
                            <svg class="orange-map-icon">
                                <use href="./img/icons/icons.svg#map-orange"></use>
                            </svg>
                            <span>Тюмень, ул. Свердлова 21 </span>
                        </div>
                        <div class="centers__mode">
                            <svg>
                                <use href="./img/icons/icons.svg#time"></use>
                            </svg>
                            <span>Пн-Вс, с 8:00 - 21:00</span>
                        </div>
                        <a href="tel:+73452355560" class="phone centers__phone">
                            <svg>
                                <use href="./img/icons/icons.svg#phone"></use>
                            </svg>
                            <span>8 3452 35-55-60</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>