<section class="diagnostics">
    <div class="page__container">
        <div class="diagnostics__container">
            <h2 class="section__title">Диагностика</h2>
            <ul class="diagnostics__cards">
                <li class="diagnostics__card _anim-items _anim-no-hide">
                    <img class="diagnostics__card-img" src="./img/diagnostics/uzi.png" alt="#">
                    <a href="#"><h3 class="diagnostics__card-title">Ультразвуковое исследование (УЗИ)</h3></a>
                    <ul class="list diagnostics__list">
                        <li class="list-item">
                            <a href="#">
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse"></use>
                                </svg>
                                <span class="list-text">Транскраниальное дуплексное сканирование (ТКДС)</span>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse"></use>
                                </svg>
                                <span class="list-text"> УЗИ сосудов головного мозга</span>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse"></use>
                                </svg>
                                <span class="list-text"> Узи почек</span>
                            </a>
                        </li>

                    </ul>
                    <a href="#" class="all-link">Все услуги УЗИ
                        <svg>
                            <use href="./img/icons/icons.svg#arrow-link"></use>
                        </svg>
                    </a>
                </li>
                <li class="diagnostics__card _anim-items _anim-no-hide">
                    <img class="diagnostics__card-img" src="./img/diagnostics/ekg.png" alt="#">
                    <a href="#"><h3 class="diagnostics__card-title">Электрокардиограмма (ЭКГ)</h3></a>
                    <ul class="list diagnostics__list">
                        <li class="list-item">
                            <a href="#">
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse"></use>
                                </svg>
                                <span class="list-text">ЭКГ с нагрузкой</span>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse"></use>
                                </svg>
                                <span class="list-text">ЭКГ без нагрузки</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="diagnostics__card _anim-items _anim-no-hide">
                    <img class="diagnostics__card-img" src="./img/diagnostics/function.png" alt="#">
                    <a href="#"><h3 class="diagnostics__card-title">Функциональная диагностика</h3></a>
                    <ul class="list diagnostics__list">
                        <li class="list-item">
                            <a href="#">
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse"></use>
                                </svg>
                                <span class="list-text">Биоимпедансный анализ состава тела</span>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse"></use>
                                </svg>
                                <span class="list-text">Суточное мониторирование по Холтеру</span>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse"></use>
                                </svg>
                                <span class="list-text"> Кислородная барокамера</span>
                            </a>
                        </li>

                    </ul>
                    
                </li>
            </ul>
        </div>
    </div>
</section>