<div class="doctor">
    <div class="page__container ">
        <div class="doctor__container">
            <nav class="left-menu">

                <ul class="left-menu__list">
                    <li class="left-menu__item">
                        <p class="left-menu__link title">Взрослые врачи</p>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Отоларинголог (ЛОР)</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Акушер-гинеколог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Дерматовенеролог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Невролог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Косметолог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Аллерголог-иммунологог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Эндокринолог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Нутрициолог</a>
                    </li>
                </ul>
                <ul class="left-menu__list">
                    <li class="left-menu__item">
                        <p class="left-menu__link title">Детские врачи</p>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Педиатр</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Эндокринолог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Невролог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Нефролог</a>
                    </li>
                </ul>
            </nav>
            <div class="doctor__description">
                <div class="content">
                    <h3>Описание</h3>
                    <p>Уже много лет мы успешно занимаемся лечением заболеваний и травм глаз и зрительной системы. Мы
                        возвращаем пациентам радость жизни, способность видеть мир во всех его красках, избавляем от
                        проблем, страхов и комплексов, связанных с плохим зрением.</p>
                </div>
                <div class="price-block light-green-block">
                    <p>Первичный прием</p>
                    <p class="price"><span>2 200 ₽</span></p>
                    <p>Вторичный прием</p>
                    <p class="price"><span>1 550 ₽</span></p>
                    <button class="btn">Запись на прием</button>
                </div>
                <table class="price-list">
                    <thead>
                        <tr>
                            <th>Прайс лист врача-оториноларинголога</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Вскрытие отогематомы или фурункула</td>
                            <td>2 200 ₽</td>
                        </tr>
                        <tr>
                            <td>Вскрытие отогематомы или фурункула</td>
                            <td>1 800 ₽</td>
                        </tr>
                        <tr>
                            <td>Вскрытие отогематомы или фурункула</td>
                            <td>1 800 ₽</td>
                        </tr>
                        <tr>
                            <td>Вскрытие отогематомы или фурункула</td>
                            <td>1 800 ₽</td>
                        </tr>
                        <tr>
                            <td>Вскрытие отогематомы или фурункула</td>
                            <td>1 800 ₽</td>
                        </tr>
                        <tr>
                            <td>Вскрытие отогематомы или фурункула</td>
                            <td>1 800 ₽</td>
                        </tr>
                        <tr>
                            <td>Вскрытие отогематомы или фурункула</td>
                            <td>1 800 ₽</td>
                        </tr>
                        <tr>
                            <td>Вскрытие отогематомы или фурункула</td>
                            <td>1 800 ₽</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="spoiler">
            <ul class="spoiler__list">
                <li class="spoiler__item">
                    <div class="spoiler__top">
                        <h3 class="spoiler__title">Услуги врача-оториноларинголога</h3>
                        <div class="spoiler__switch">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="spoiler__bottom with-img">
                        <div class="content">
                            <ul class="two-columns">
                                <li>Хирургическое лечение храпа</li>
                                <li>Удаление полипов носа</li>
                                <li>Тонзиллэктомия</li>
                                <li>Септопластика</li>
                                <li>Гайморотомия</li>
                                <li>Вазотомия</li>
                                <li>Аденотомия</li>
                                <li>Хирургическое лечение храпа</li>
                                <li>Удаление полипов носа</li>
                                <li>Тонзиллэктомия</li>
                                <li>Септопластика</li>
                                <li>Гайморотомия</li>
                                <li>Вазотомия</li>
                                <li>Аденотомия</li>
                            </ul>
                            <p>В клиниках МЕДСИ в Москве вы можете записаться на прием к врачу-офтальмологу. Специалисты
                                занимаются профилактикой, диагностикой и лечением широкого перечня патологий органов
                                зрения. Врачи обеспечивают выявление даже скрытых заболеваний. Делать это позволяет
                                современное оборудование экспертного класса. Для лечения применяются эффективные
                                препараты и технологии. При необходимости пациентам подбираются средства для коррекции
                                зрения (очки или мягкие контактные линзы).</p>
                        </div>
                        <img class="spoiler__img" src="./img/spoiler.png" alt="#">
                    </div>
                </li>
                <li class="spoiler__item">

                    <div class="spoiler__top">
                        <h3 class="spoiler__title">Врачи оториноларингологи в Тюмени</h3>
                        <div class="spoiler__switch">
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="spoiler__bottom">
                        <ul class="doctors__list">
                            <li class="doctors__item">
                                <img class="doctors__photo" src="./img/doctor.png" alt="#">
                                <div class="doctors__description">
                                    <p class="doctors__post">Врач хирург</p>
                                    <a href="./current-doctor.html">
                                        <h3 class="doctors__name">Петров Иван Иванович</h3>
                                    </a>
                                    <p class="doctors__experience">Стаж работы 10 лет</p>
                                    <ul class="list doctors__lists">
                                        <li class="list-item">
                                            <a href="#">
                                                <svg class="ellipse-icon">
                                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                                </svg>
                                                <span class="list-text">ДЦ на Ямской</span>
                                            </a>
                                        </li>
                                        <li class="list-item">
                                            <a href="#">
                                                <svg class="ellipse-icon">
                                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                                </svg>
                                                <span class="list-text">ДЦ на Гольцова</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <button class="btn btn_white">Записаться</button>
                                </div>
                            </li>
                            <li class="doctors__item">
                                <img class="doctors__photo" src="./img/doctor.png" alt="#">
                                <div class="doctors__description">
                                    <p class="doctors__post">Врач хирург</p>
                                    <a href="#">
                                        <h3 class="doctors__name">Петров Иван Иванович</h3>
                                    </a>
                                    <p class="doctors__experience">Стаж работы 10 лет</p>
                                    <ul class="list doctors__lists">
                                        <li class="list-item">
                                            <a href="#">
                                                <svg class="ellipse-icon">
                                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                                </svg>
                                                <span class="list-text">ДЦ на Ямской</span>
                                            </a>
                                        </li>
                                        <li class="list-item">
                                            <a href="#">
                                                <svg class="ellipse-icon">
                                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                                </svg>
                                                <span class="list-text">ДЦ на Гольцова</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <button class="btn btn_white">Записаться</button>
                                </div>
                            </li>
                        </ul>
                    </div>

                </li>
                <li class="spoiler__item">

                    <div class="spoiler__top">
                        <h3 class="spoiler__title">Как проходит консультация</h3>
                        <div class="spoiler__switch">
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="spoiler__bottom">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ipsa dolor voluptatum
                                veniam officiis nobis natus a itaque minus, quasi nulla animi iusto incidunt, dolores
                                eligendi consectetur accusantium velit tempore.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum ab vero ut
                                ea dolor neque sit ex minus, perspiciatis velit earum est autem voluptatem, alias veniam
                                officiis maxime natus.</p>
                        </div>
                    </div>
                </li>
                <li class="spoiler__item">

                    <div class="spoiler__top">
                        <h3 class="spoiler__title">Какие болезни лечат</h3>
                        <div class="spoiler__switch">
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="spoiler__bottom">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ipsa dolor voluptatum
                                veniam officiis nobis natus a itaque minus, quasi nulla animi iusto incidunt, dolores
                                eligendi consectetur accusantium velit tempore.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum ab vero ut
                                ea dolor neque sit ex minus, perspiciatis velit earum est autem voluptatem, alias veniam
                                officiis maxime natus.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum ab vero ut
                                ea dolor neque sit ex minus, perspiciatis velit earum est autem voluptatem, alias veniam
                                officiis maxime natus.</p>
                        </div>
                    </div>
                </li>
                <li class="spoiler__item">

                    <div class="spoiler__top">
                        <h3 class="spoiler__title">Профилактика</h3>
                        <div class="spoiler__switch">
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="spoiler__bottom">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ipsa dolor voluptatum
                                veniam officiis nobis natus a itaque minus, quasi nulla animi iusto incidunt, dolores
                                eligendi consectetur accusantium velit tempore.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum ab vero ut
                                ea dolor neque sit ex minus, perspiciatis velit earum est autem voluptatem, alias veniam
                                officiis maxime natus.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ipsa dolor voluptatum
                                veniam officiis nobis natus a itaque minus, quasi nulla animi iusto incidunt, dolores
                                eligendi consectetur accusantium velit tempore.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum ab vero ut
                                ea dolor neque sit ex minus, perspiciatis velit earum est autem voluptatem, alias veniam
                                officiis maxime natus.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum ab vero ut
                                ea dolor neque sit ex minus, perspiciatis velit earum est autem voluptatem, alias veniam
                                officiis maxime natus.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <section class="signup signup_doctor">
            <img class="signup__img" src="./img/doctor-signup.png" alt="signup">
            <h2>Запись к оториноларингологу</h2>
            <p>Узнать подробности проведения процедуры, цены УЗИ и записаться на консультацию специалиста Вы можете по телефону.</p>
            <a href="tel:+73452355560" class="phone">
                <svg>
                    <use href="./img/icons/icons.svg#phone"></use>
                </svg>
                <p>8 (3452) <span>35-55-60</span></p>
            </a>
            <button class="btn">Заказать обратный звонок</button>
        </section>
    </div>
</div>