<section class="doctors">
    <div class="page__container">

        <div class="section__top">
            <h2 class="section__title">Наши врачи</h2>
            <a href="#" class="all-link section__all">Все врачи
                <svg>
                    <use href="./img/icons/icons.svg#arrow-link"></use>
                </svg>
            </a>
        </div>

        <!-- Фильтр (жду UI) -->
        <form class="filter doctors__filter">
            <div class="select filter__select">
                <a class="select__btn">Специальность</a>
                <div class="select__expand">
                    <div class="select__expand-layout">
                        <div class="select__option">
                            <label for="11" class="select__label">Отоларинголог (ЛОР)</label>
                            <input type="checkbox" name="specialization" value="Отоларинголог (ЛОР)" id="11">
                        </div>
                        <div class="select__option">
                            <label for="12" class="select__label">Акушер-гинеколог</label>
                            <input type="checkbox" name="specialization" value="Акушер-гинеколог" id="12">
                        </div>
                        <div class="select__option">
                            <label for="13" class="select__label">Дерматовенеролог</label>
                            <input type="checkbox" name="specialization" value="Дерматовенеролог" id="13">
                        </div>
                        <div class="select__option">
                            <label for="14" class="select__label">Невролог</label>
                            <input type="checkbox" name="specialization" value="Невролог" id="14">
                        </div>
                        <div class="select__option">
                            <label for="15" class="select__label">Косметолог</label>
                            <input type="checkbox" name="specialization" value="Косметолог" id="15">
                        </div>
                        <div class="select__option">
                            <label for="16" class="select__label">Аллерголог-иммунологог</label>
                            <input type="checkbox" name="specialization" value="Аллерголог-иммунологог" id="16">
                        </div>
                        <div class="select__option">
                            <label for="17" class="select__label">Эндокринолог</label>
                            <input type="checkbox" name="specialization" value="Эндокринолог" id="17">
                        </div>
                        <div class="select__option">
                            <label for="18" class="select__label">Нутрициолог</label>
                            <input type="checkbox" name="specialization" value="Нутрициолог" id="18">
                        </div>
                    </div>
                </div>
            </div>

            <div class="select filter__select">
                <a class="select__btn">Филиал</a>
                <div class="select__expand">
                    <div class="select__expand-layout">
                        <div class="select__option">
                            <label for="21" class="select__label">ДЦ на Ямской</label>
                            <input type="checkbox" name="branch" value="ДЦ на Ямской" id="21">
                        </div>
                        <div class="select__option">
                            <label for="22" class="select__label">ДЦ на Ямской</label>
                            <input type="checkbox" name="branch" value="ДЦ на Ямской" id="22">
                        </div>
                        <div class="select__option">
                            <label for="23" class="select__label">ДЦ на Ямской</label>
                            <input type="checkbox" name="branch" value="ДЦ на Ямской" id="23">
                        </div>
                        <div class="select__option">
                            <label for="24" class="select__label">ДЦ на Ямской</label>
                            <input type="checkbox" name="branch" value="ДЦ на Ямской" id="24">
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn">Показать</button>
        </form>


        <ul class="doctors__list">
            <li class="doctors__item">
                <a href="#"><img class="doctors__photo" src="./img/doctor.png" alt="#"></a>
                <div class="doctors__description">
                    <p class="doctors__post">Врач хирург</p>
                    <a href="#">
                        <h3 class="doctors__name">Петров Иван Иванович</h3>
                    </a>
                    <p class="doctors__experience">Стаж работы 10 лет</p>
                    <ul class="list doctors__lists">
                        <li class="list-item">
                           
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Ямской</span>
                           
                        </li>
                        <li class="list-item">
                           
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Гольцова</span>
                        
                        </li>
                    </ul>
                    <button class="btn btn_white">Записаться</button>
                </div>
            </li>
            <li class="doctors__item">
                <a href="#"><img class="doctors__photo" src="./img/doctor.png" alt="#"></a>
                <div class="doctors__description">
                    <p class="doctors__post">Врач хирург</p>
                    <a href="#">
                        <h3 class="doctors__name">Петров Иван Иванович</h3>
                    </a>
                    <p class="doctors__experience">Стаж работы 10 лет</p>
                    <ul class="list doctors__lists">
                        <li class="list-item">
                            
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Ямской</span>
                        
                        </li>
                        <li class="list-item">
                           
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Гольцова</span>
                           
                        </li>
                    </ul>
                    <button class="btn btn_white">Записаться</button>
                </div>
            </li>
            <li class="doctors__item">
                <a href="#"><img class="doctors__photo" src="./img/doctor.png" alt="#"></a>
                <div class="doctors__description">
                    <p class="doctors__post">Врач хирург</p>
                    <a href="#">
                        <h3 class="doctors__name">Петров Иван Иванович</h3>
                    </a>
                    <p class="doctors__experience">Стаж работы 10 лет</p>
                    <ul class="list doctors__lists">
                        <li class="list-item">
                            
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Ямской</span>
                           
                        </li>
                        <li class="list-item">
                           
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Гольцова</span>
                           
                        </li>
                    </ul>
                    <button class="btn btn_white">Записаться</button>
                </div>
            </li>
            <li class="doctors__item">
                <a href="#"><img class="doctors__photo" src="./img/doctor.png" alt="#"></a>
                <div class="doctors__description">
                    <p class="doctors__post">Врач хирург</p>
                    <a href="#">
                        <h3 class="doctors__name">Петров Иван Иванович</h3>
                    </a>
                    <p class="doctors__experience">Стаж работы 10 лет</p>
                    <ul class="list doctors__lists">
                        <li class="list-item">
                           
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Ямской</span>
                           
                        </li>
                        <li class="list-item">
                            
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Гольцова</span>
                          
                        </li>
                    </ul>
                    <button class="btn btn_white">Записаться</button>
                </div>
            </li>
        </ul>
        <div class="doctors__all">
            <button class="btn btn_all">Показать еще</button>
        </div>

    </div>
</section>