<div class="doctor">
    <div class="page__container">
        <div class="doctor__container">
            <nav class="left-menu">

                <ul class="left-menu__list">
                    <li class="left-menu__item">
                        <p class="left-menu__link title">Взрослые врачи</p>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Отоларинголог (ЛОР)</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Акушер-гинеколог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Дерматовенеролог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Невролог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Косметолог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Аллерголог-иммунологог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Эндокринолог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Нутрициолог</a>
                    </li>
                </ul>
                <ul class="left-menu__list">
                    <li class="left-menu__item">
                        <p class="left-menu__link title">Детские врачи</p>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Педиатр</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Эндокринолог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Невролог</a>
                    </li>
                    <li class="left-menu__item">
                        <a href="#" class="left-menu__link">Нефролог</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>