<section class="doctors section_bt">
    <div class="page__container">

        <div class="section__top">
            <h2 class="section__title">Врачи проводящие ультразвуковое исследование (УЗИ)</h2>
        </div>
        <ul class="doctors__list doctors__list_uslugi">
            
            <li class="doctors__item">
                <img class="doctors__photo" src="./img/doctor.png" alt="#">
                <div class="doctors__description">
                    <p class="doctors__post">Врач хирург</p>
                    <a href="#">
                        <h3 class="doctors__name">Петров Иван Иванович</h3>
                    </a>
                    <p class="doctors__experience">Стаж работы 10 лет</p>
                    <ul class="list doctors__lists">
                        <li class="list-item">
                            
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Ямской</span>
                           
                        </li>
                        <li class="list-item">
                           
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Гольцова</span>
                          
                        </li>
                    </ul>
                    <button class="btn btn_white">Записаться</button>
                </div>
            </li>
            <li class="doctors__item">
                <img class="doctors__photo" src="./img/doctor.png" alt="#">
                <div class="doctors__description">
                    <p class="doctors__post">Врач хирург</p>
                    <a href="#">
                        <h3 class="doctors__name">Петров Иван Иванович</h3>
                    </a>
                    <p class="doctors__experience">Стаж работы 10 лет</p>
                    <ul class="list doctors__lists">
                        <li class="list-item">
                            
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Ямской</span>
                         
                        </li>
                        <li class="list-item">
                          
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Гольцова</span>
                         
                        </li>
                    </ul>
                    <button class="btn btn_white">Записаться</button>
                </div>
            </li>
            <li class="doctors__item">
                <img class="doctors__photo" src="./img/doctor.png" alt="#">
                <div class="doctors__description">
                    <p class="doctors__post">Врач хирург</p>
                    <a href="#">
                        <h3 class="doctors__name">Петров Иван Иванович</h3>
                    </a>
                    <p class="doctors__experience">Стаж работы 10 лет</p>
                    <ul class="list doctors__lists">
                        <li class="list-item">
                           
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Ямской</span>
                       
                        </li>
                        <li class="list-item">
                          
                                <svg class="ellipse-icon">
                                    <use href="./img/icons/icons.svg#ellipse-full"></use>
                                </svg>
                                <span class="list-text">ДЦ на Гольцова</span>
                       
                        </li>
                    </ul>
                    <button class="btn btn_white">Записаться</button>
                </div>
            </li>
        </ul>
    </div>
</section>