<div class="specialties">
    <div class="page__container">
        <div class="tabs">
            <div class="tabs__controls">
                <label for="tab1">Все врачи
                    <input id="tab1" class="visually-hidden" type="radio" value="tab1" name="tabs" checked>
                </label>

                <label for="tab2">Взрослые врачи
                    <input id="tab2" class="visually-hidden" type="radio" value="tab2" name="tabs">
                </label>

                <label for="tab3">Детские врачи
                    <input id="tab3" class="visually-hidden" type="radio" value="tab3" name="tabs">
                </label>
            </div>
            <div class="tabs__content">
                <div class="tabs__tab" data-pointer="tab1">
                    <div class="specialties__block">
                        <h3 class="specialties__title">Взрослые врачи</h3>
                        <ul class="specialties__list">
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_otolaringolog"></use>
                                    </svg>
                                    <span>Отоларинголог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_kosmetolog"></use>
                                    </svg>
                                    <span>Косметолог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_allergolog-immunolog"></use>
                                    </svg>
                                    <span>Аллерголог-иммунолог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_endokrinolog"></use>
                                    </svg>
                                    <span>Эндокринолог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_akusher-ginekolog"></use>
                                    </svg>
                                    <span>Акушер-гинеколог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_dermatovenerolog"></use>
                                    </svg>
                                    <span>Дерматовенеролог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_nevrolog"></use>
                                    </svg>
                                    <span>Невролог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_nutriciolog"></use>
                                    </svg>
                                    <span>Нутрициолог</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="specialties__block">
                        <h3 class="specialties__title">Детские врачи</h3>
                        <ul class="specialties__list">
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_pediatr"></use>
                                    </svg>
                                    <span>Педиатр</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_detskiy-endokrinolog"></use>
                                    </svg>
                                    <span>Детский эндокринолог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_detskiy-nevrolog"></use>
                                    </svg>
                                    <span>Детский невролог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_detskiy-nefrolog"></use>
                                    </svg>
                                    <span>Детский нефролог</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tabs__tab" data-pointer="tab2">
                    <div class="specialties__block">
                        <h3 class="specialties__title">Взрослые врачи</h3>
                        <ul class="specialties__list">
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_otolaringolog"></use>
                                    </svg>
                                    <span>Отоларинголог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_kosmetolog"></use>
                                    </svg>
                                    <span>Косметолог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_allergolog-immunolog"></use>
                                    </svg>
                                    <span>Аллерголог-иммунолог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_endokrinolog"></use>
                                    </svg>
                                    <span>Эндокринолог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_akusher-ginekolog"></use>
                                    </svg>
                                    <span>Акушер-гинеколог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_dermatovenerolog"></use>
                                    </svg>
                                    <span>Дерматовенеролог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_nevrolog"></use>
                                    </svg>
                                    <span>Невролог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_nutriciolog"></use>
                                    </svg>
                                    <span>Нутрициолог</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tabs__tab" data-pointer="tab3">
                    <div class="specialties__block">
                        <h3 class="specialties__title">Детские врачи</h3>
                        <ul class="specialties__list">
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_pediatr"></use>
                                    </svg>
                                    <span>Педиатр</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_detskiy-endokrinolog"></use>
                                    </svg>
                                    <span>Детский эндокринолог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_detskiy-nevrolog"></use>
                                    </svg>
                                    <span>Детский невролог</span>
                                </a>
                            </li>
                            <li class="specialties__item">
                                <a href="#" class="specialties__item-link">
                                    <svg>
                                        <use href="./img/icons/icons.svg#specialization_detskiy-nefrolog"></use>
                                    </svg>
                                    <span>Детский нефролог</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>