<footer class="footer">
    <div class="footer__top">
        <div class="page__container footer__grid">
            <a href="/" class="logo">
                <img src="./img/logo.png" alt="Logo">
                <p>Сеть лабораторий «Хеликс» В ТЮМЕНИ</p>
            </a>
            <div class="footer__menu">
                <p class="footer__grid-title">Клиника</p>
                <ul class="footer__menu-list">
                    <li><a href="#">Врачи</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Анализы</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Диагностика</a></li>
                    <li><a href="#">Информация</a></li>
                    <li><a href="#">Выезд на дом</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__menu">
                <p class="footer__grid-title">Пациентам</p>
                <ul class="footer__menu-list">
                    <li><a href="#">О клинике</a></li>
                    <li><a href="#">ДМС</a></li>
                    <li><a href="#">Лицензии</a></li>
                    <li><a href="#">Наши врачи</a></li>
                    <li><a href="#">ОМС</a></li>
                    <li><a href="#">Новости</a></li>
                </ul>
            </div>
            <div class="footer__contacts">
                <p class="footer__grid-title">Связь с нами</p>
                <p class="footer__contacts-number">Многоканальный телефон в Тюмени </p>
                <a href="tel:+73452355560" class="phone">
                    <svg>
                        <use href="./img/icons/icons.svg#phone"></use>
                    </svg>
                    <p>8 (3452) <span>35-55-60</span></p>
                </a>
                <a href="mailto:info@helix.ru" class="email">
                    <svg>
                        <use href="./img/icons/icons.svg#email"></use>
                    </svg>
                    <p>info@helix.ru</p>
                </a>
                <button class="btn btn_main">Запись на прием</button>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="page__container">
            <div class="footer__additionally">
                <p class="footer__copyright">2021 © Сеть лабораторий «Хеликс» В ТЮМЕНИ </p>
                <div class="footer__info">
                    <ul class="footer__info-list">
                        <li><a href="#">Правовая информация</a></li>
                        <li><a href="#">Обработка персональных данных</a></li>
                    </ul>
                    <ul class="footer__social">
                        <!-- Instagram -->
                        <li>
                            <a href="#">
                                <svg>
                                    <use href="./img/icons/icons.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <!-- Whatsapp -->
                        <li>
                            <a href="#">
                                <svg>
                                    <use href="./img/icons/icons.svg#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <!-- ВК -->
                        <li>
                            <a href="#">
                                <svg>
                                    <use href="./img/icons/icons.svg#vk"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="contraindications footer__contraindications">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМО ПОЛУЧЕНИЕ
                КОНСУЛЬТАЦИИ СПЕЦИАЛИСТА
            </p>
        </div>
    </div>
</footer>