<header class="header">
    <div class="page__container">
        <div class="header__container">

            <!-- Логотип -->
            <a href="/" class="logo">
                <img src="./img/logo.png" alt="Logo">
                <p>Сеть лабораторий «Хеликс» В ТЮМЕНИ</p>
            </a>

            <!-- Верхнее подменю -->
            <nav class="header__submenu">
                <ul class="header__submenu-list">
                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">О клинике</a>
                    </li>
                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Лицензии</a>
                    </li>
                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">ОМС</a></li>
                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Наши врачи</a>
                    </li>
                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Отзывы</a>
                    </li>
                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Выезд на
                            дом</a>
                    </li>
                </ul>
            </nav>

            <!-- Слабовидящим -->
            <a class="header__eye">

                <svg class="header__eye-icon">
                    <use href="./img/icons/icons.svg#eye"></use>
                </svg>
                <p>Слабовидящим</p>
            </a>

            <!-- Поиск -->
            <form class="header__search">
                <div class="header__search-row">
                    <svg>
                        <use href="./img/icons/icons.svg#search"></use>
                    </svg>
                    <input type="text" class="header__search-input" placeholder="Поиск нужного исследования, врача"
                        minlength="1" autocomplete="off" />
                </div>
                <button class="header__search-btn">Найти</button>
            </form>

            <!-- Контакты в шапке -->
            <div class="header__contacts">
                <a href="tel:+73452355560" class="phone">
                    <svg>
                        <use href="./img/icons/icons.svg#phone"></use>
                    </svg>
                    <p>8 (3452) <span>35-55-60</span></p>
                </a>
                <a href="#" class="header__contacts-map">8 центров в Тюмени</a>
            </div>

            <!-- Кнопка -->
            <button class="btn btn_main">Запись на прием</button>

            <!-- Верхнее меню -->
            <nav class="menu menu_header">
                <ul class="menu__list">
                    <li class="menu__item menu__item-dropdown">
                        <a href="#" class="menu__link">Выбрать врача</a>
                        <div class="menu__expand">
                            <div class="menu__expand-layout">
                                <ul class="menu__dropdown">
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item"><a href="#" class="menu__link">УЗИ</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">ЭКГ</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Процедурный кабинет</a></li>
                    <li class="menu__item menu__item-dropdown">
                        <a href="#" class="menu__link">Диагностика</a>
                        <div class="menu__expand">
                            <div class="menu__expand-layout">
                                <ul class="menu__dropdown">
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item"><a href="#" class="menu__link">Анализы</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Акции</a></li>
                    <li class="menu__item menu__item-dropdown">
                        <a href="#" class="menu__link">Пациентам</a>
                        <div class="menu__expand">
                            <div class="menu__expand-layout">
                                <ul class="menu__dropdown">
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                    <li class="menu__dropdown-item"><a href="#" class="menu__dropdown-link">Какой-то пункт</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
                    <li class="menu__item">
                        <a href="#" class="menu__link menu__link_covid">
                            <svg>
                                <use href="./img/icons/icons.svg#virus"></use>
                            </svg>
                            <span>Covid-19</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</header>