<nav class="left-menu">
    <ul class="left-menu__list">
        <li class="left-menu__item left-menu__item_dropdown">
            <a href="#" class="left-menu__link">ЭКГ</a>
            <ul class="left-menu__dropdown">
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">Какой-то ЭКГ</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">Какой-то ЭКГ</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">Какой-то ЭКГ</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">Какой-то ЭКГ</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">Какой-то ЭКГ</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">КТ</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Рентген</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Денситометрия</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Маммография</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Эстетическая гинекология</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">ГСГ</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Эндоскопия</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Функциональная диагностика</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Кольпоскопия</a>
        </li>
        <li class="left-menu__item left-menu__item_dropdown">
            <a href="#" class="left-menu__link">УЗИ</a>
            <ul class="left-menu__dropdown">
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">УЗИ при беременности</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">УЗИ предстательной железы</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">УЗИ в педиатрии</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">УЗИ сосудов</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">УЗИ мочевыделительной системы</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">УЗИ щитовидной железы</a>
                </li>
                <li class="left-menu__dropdown-item active">
                    <a href="#" class="left-menu__dropdown-link">УЗИ органов брюшной полости</a>
                </li>
                <li class="left-menu__dropdown-item">
                    <a href="#" class="left-menu__dropdown-link">УЗИ органов малого таза</a>
                </li>
            </ul>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Маммология</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Эхокардиография</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Вакцинация</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Инъекции</a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link">Флебология</a>
        </li>
    </ul>
</nav>