<section class="licenses licenses_main _anim-items _anim-no-hide">
    <div class="page__container">
        <h2 class="section__title">Лицензии</h2>
        <div class="licenses__container-for-arrows">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper swiper-licenses">

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="licenses__item">
                            <img data-pointer="photo" class="licenses__img" src="./img/license.png" alt="license">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="licenses__item">
                            <img data-pointer="photo" class="licenses__img" src="./img/license.png" alt="license">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="licenses__item">
                            <img data-pointer="photo" class="licenses__img" src="./img/license.png" alt="license">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="licenses__item">
                            <img data-pointer="photo" class="licenses__img" src="./img/license.png" alt="license">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="licenses__item">
                            <img data-pointer="photo" class="licenses__img" src="./img/license.png" alt="license">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="licenses__item">
                            <img data-pointer="photo" class="licenses__img" src="./img/license.png" alt="license">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="licenses__item">
                            <img data-pointer="photo" class="licenses__img" src="./img/license.png" alt="license">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="licenses__item">
                            <img data-pointer="photo" class="licenses__img" src="./img/license.png" alt="license">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="licenses__item">
                            <img data-pointer="photo" class="licenses__img" src="./img/license.png" alt="license">
                        </div>
                    </div>

                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>


    </div>

</section>