<div id="map" class="maps">
    <div class="page__container maps__container">
        <div class="maps__absoulute">
            <h2 class="maps__absolute-title">Наши филиалы</h2>
            <ul class="list">
                <li class="list-item">
                    <a data-map="1">
                        <svg class="ellipse-icon">
                            <use href="./img/icons/icons.svg#map-icon"></use>
                        </svg>
                        <span class="list-text">ДЦ на Свердлова</span>
                    </a>
                </li>
                <li class="list-item">
                    <a data-map="2">
                        <svg class="ellipse-icon">
                            <use href="./img/icons/icons.svg#map-icon"></use>
                        </svg>
                        <span class="list-text">ДЦ на Ямской</span>
                    </a>
                </li>
                <li class="list-item">
                    <a data-map="3">
                        <svg class="ellipse-icon">
                            <use href="./img/icons/icons.svg#map-icon"></use>
                        </svg>
                        <span class="list-text">ДЦ на Газовиков</span>
                    </a>
                </li>
                <li class="list-item">
                    <a data-map="4">
                        <svg class="ellipse-icon">
                            <use href="./img/icons/icons.svg#map-icon"></use>
                        </svg>
                        <span class="list-text">ДЦ на Республики</span>
                    </a>
                </li>
                <li class="list-item">
                    <a data-map="5">
                        <svg class="ellipse-icon">
                            <use href="./img/icons/icons.svg#map-icon"></use>
                        </svg>
                        <span class="list-text">ДЦ на Гольцова</span>
                    </a>
                </li>
                <li class="list-item">
                    <a data-map="6">
                        <svg class="ellipse-icon">
                            <use href="./img/icons/icons.svg#map-icon"></use>
                        </svg>
                        <span class="list-text">ДЦ на Монтажников</span>
                    </a>
                </li>
                <li class="list-item">
                    <a data-map="7">
                        <svg class="ellipse-icon">
                            <use href="./img/icons/icons.svg#map-icon"></use>
                        </svg>
                        <span class="list-text">ДЦ на Менделеева</span>
                    </a>
                </li>
                <li class="list-item">
                    <a data-map="8">
                        <svg class="ellipse-icon">
                            <use href="./img/icons/icons.svg#map-icon"></use>
                        </svg>
                        <!-- Университетская или Ленина? -->
                        <span class="list-text">ДЦ на Ленина</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>