<section class="popular">
    <div class="page__container">

        <div class="section__top">
            <h2 class="section__title">Популярные услуги</h2>
            <a href="#" class="all-link section__all">Все услуги
                <svg>
                    <use href="./img/icons/icons.svg#arrow-link"></use>
                </svg>
            </a>
        </div>

        <ul class="popular__cards _anim-items _anim-no-hide">
            <li style="background-image: url(./img/popular/1.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
            <li style="background-image: url(./img/popular/2.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
            <li style="background-image: url(./img/popular/1.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
            <li style="background-image: url(./img/popular/2.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
            <li style="background-image: url(./img/popular/1.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
            <li style="background-image: url(./img/popular/2.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
            <li style="background-image: url(./img/popular/1.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
            <li style="background-image: url(./img/popular/2.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
            <li style="background-image: url(./img/popular/1.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
            <li style="background-image: url(./img/popular/2.png);" class="popular__card">
                <a href="#" class="popular__card-link">

                    <p class="popular__card-text">Оформление справки в бассейн</p>
                </a>
            </li>
        </ul>
    </div>
</section>