<div class="services">
    <div class="page__container">
        <div class="services__container">
            <div class="services__menu">
                @@include('../components/_left-menu.html')
            </div>
            <div class="services__service">
                <h3 class="services__service-title">Ультразвуковое исследование (УЗИ) желудка</h3>
                <div class="services__service-right">
                    <div class="price-block light-green-block">
                        <p class="price"><span>1800 ₽</span></p>
                        <button class="btn">Запись на прием</button>
                    </div>
                    <div class="props-block props-block_duration">
                        <svg class="time-icon">
                            <use href="./img/icons/icons.svg#time"></use>
                        </svg>
                        <div>
                            <p>30 минут</p>
                            <p>Длительность обследования</p>
                        </div>
                    </div>
                    <div class="props-block props-block_conclusion">
                        <svg class="time-icon">
                            <use href="./img/icons/icons.svg#calendar"></use>
                        </svg>
                        <div>
                            <p>1 день</p>
                            <p>Подготовка заключения</p>
                        </div>
                    </div>
                </div>


                <div class="content">
                    <h4>Описание</h4>
                    <p>Сегодня проблемы с желудком – явление не редкое. А такое информативное обследование, как УЗИ
                        желудка, один из видов эхографии, помогает выявлять ряд развивающихся в пищеварительном органе
                        патологий. Зачастую гастроэнтеролог может предложить такое исследование во время первого этапа
                        диагностики проблем с системой пищеварения.
                    </p>
                    <h4>Как проходит УЗИ желудка</h4>
                    <p>Пациенту предложат пройти в кабинет и удобно разместиться на кушетке возле аппарата. Бывают
                        случаи, при которых лучше проводить исследование, когда пациент стоит. На исследуемый участок
                        наносят специальный гель и устанавливают датчик прибора в необходимом положении. Перемещая
                        сканирующее устройство под разными углами, врач обследует заднюю и переднюю желудочные стенки.
                    </p>
                    <p>
                        При нормальном состоянии желудка УЗИ показывает в нем наличие незначительного количества
                        жидкости. Такая диагностика дает возможность кроме оценки формы органа еще оценить деформацию, а
                        также размеры стенок. Есть вариант обследования с контрастом для улучшения визуализации. Могут
                        проводиться исследования поочередно: УЗИ пустого желудка и УЗИ наполненного желудка водой с
                        контрастным веществом.
                    </p>
                </div>
                <div class="services__result light-green-block">
                    <div class="services__result-container">
                        <h3>Результаты <b>УЗИ желудка</b> вы получите практически сразу после исследования на
                            электронную почту
                        </h3>
                        <p>По результатам УЗИ вы можете сразу получить направление к узким специалистам и в тот же день
                            записаться на прием.</p>
                        <div class="services__result-btns">
                            <button class="btn">Записаться к гастроэнтерологу</button>
                            <button class="btn">Записаться к ЭНДОКРИНОЛОГУ</button>
                        </div>
                    </div>
                    <img class="services__result-img" src="./img/service-result.png" alt="result">
                </div>
                <div class="content">
                    <h4>Подготовка к УЗИ желудка</h4>
                    <ul>
                        <li>Два дня до назначенного обследования пациенту будет рекомендовано воздержаться от
                            использования в рационе способствующих газообразованию продуктов (бобовых, черного хлеба,
                            сладостей, сдобных изделий, кефира, соков, алкогольных напитков, крепкого чая, кофе,
                            капусты, газированных напитков, свежих овощей и фруктов);</li>
                        <li>ужин накануне такого УЗИ должен быть до 20:00;</li>
                        <li>что касается режима питья, то пить лучше чистую воду в объеме от 1,5 до 2 литров в сутки;
                        </li>
                        <li>иногда врач назначает специальные препараты для снижения образования газов;</li>
                    </ul>
                    <p>Соблюдение этих довольно простых рекомендаций позволит получить объективные результаты УЗИ. А
                        эффективность процедуры – залог правильного диагноза и последующего лечения.</p>
                </div>
            </div>
        </div>
    </div>
</div>