<div class="services">
    <div class="page__container">
        <ul class="services__hashtags">
            <li class="services__hashtag">
                <a href="./usluga.html" class="services__hashtag-link">Узи желудка</a>
            </li>
            <li class="services__hashtag">
                <a href="#" class="services__hashtag-link">Узи сосудов</a>
            </li>
            <li class="services__hashtag">
                <a href="#" class="services__hashtag-link">Узи при беременности</a>
            </li>
            <li class="services__hashtag">
                <a href="#" class="services__hashtag-link">Узи сосудов</a>
            </li>
            <li class="services__hashtag">
                <a href="#" class="services__hashtag-link">Узи при беременности</a>
            </li>
        </ul>

        <div class="services__container">
            <aside class="services__menu">
                @@include('../components/_left-menu.html')
            </aside>
            
            <ul class="services__list">
                <li class="services__item">
                    <h3 class="services__item-title">УЗИ поджелудочной железы</h3>
                    <ul class="services__item-description">
                        <li>Ультразвуковое сканирование, позволяющее оценить состоятельность кровотока сосудов головного
                            мозга.</li>
                    </ul>
                    <div class="services__item-ready">
                        <svg class="time-icon">
                            <use href="./img/icons/icons.svg#time"></use>
                        </svg>
                        <span>Готовность 24 часа</span>
                    </div>
                    <div class="services__location">
                        <svg class="orange-map-icon">
                            <use href="./img/icons/icons.svg#map-orange"></use>
                        </svg>
                        <span>ДЦ на Ямской, ДЦ на Гольцова, ДЦ на Газовиков
                        </span>
                    </div>
                    <p class="price"><span>2 000 ₽</span></p>
                    <button class="btn">Записаться</button>
                </li>
                <li class="services__item">
                    <h3 class="services__item-title">УЗИ поджелудочной железы <svg class="sale-icon"><use href="./img/icons/icons.svg#action"></use></svg></h3>
                    <ul class="services__item-description">
                        <li>Ультразвуковое сканирование, позволяющее оценить состоятельность кровотока сосудов головного
                            мозга.</li>
                    </ul>
                    <div class="services__item-ready">
                        <svg class="time-icon">
                            <use href="./img/icons/icons.svg#time"></use>
                        </svg>
                        <span>Готовность 24 часа</span>
                    </div>
                    <div class="services__location">
                        <svg class="orange-map-icon">
                            <use href="./img/icons/icons.svg#map-orange"></use>
                        </svg>
                        <span>ДЦ на Ямской, ДЦ на Гольцова, ДЦ на Газовиков
                        </span>
                    </div>
                    <p class="price"><span>2 000 ₽</span> <span class="price_old">2 500 ₽</span></p>
                    <button class="btn">Записаться</button>
                </li>
                <li class="services__item">
                    <h3 class="services__item-title">УЗИ поджелудочной железы</h3>
                    <ul class="services__item-description">
                        <li>Ультразвуковое сканирование, позволяющее оценить состоятельность кровотока сосудов головного
                            мозга.</li>
                    </ul>
                    <div class="services__item-ready">
                        <svg class="time-icon">
                            <use href="./img/icons/icons.svg#time"></use>
                        </svg>
                        <span>Готовность 24 часа</span>
                    </div>
                    <div class="services__location">
                        <svg class="orange-map-icon">
                            <use href="./img/icons/icons.svg#map-orange"></use>
                        </svg>
                        <span>ДЦ на Ямской, ДЦ на Гольцова, ДЦ на Газовиков
                        </span>
                    </div>
                    <p class="price"><span>2 000 ₽</span></p>
                    <button class="btn">Записаться</button>
                </li>
                <li class="services__item">
                    <h3 class="services__item-title">УЗИ поджелудочной железы <svg class="sale-icon"><use href="./img/icons/icons.svg#action"></use></svg></h3>
                    <ul class="services__item-description">
                        <li>Ультразвуковое сканирование, позволяющее оценить состоятельность кровотока сосудов головного
                            мозга.</li>
                    </ul>
                    <div class="services__item-ready">
                        <svg class="time-icon">
                            <use href="./img/icons/icons.svg#time"></use>
                        </svg>
                        <span>Готовность 24 часа</span>
                    </div>
                    <div class="services__location">
                        <svg class="orange-map-icon">
                            <use href="./img/icons/icons.svg#map-orange"></use>
                        </svg>
                        <span>ДЦ на Ямской, ДЦ на Гольцова, ДЦ на Газовиков
                        </span>
                    </div>
                    <p class="price"><span>2 000 ₽</span> <span class="price_old">2 500 ₽</span></p>
                    <button class="btn">Записаться</button>
                </li>
                <li class="services__item">
                    <h3 class="services__item-title">УЗИ поджелудочной железы <svg class="sale-icon"><use href="./img/icons/icons.svg#action"></use></svg></h3>
                    <ul class="services__item-description">
                        <li>Ультразвуковое сканирование, позволяющее оценить состоятельность кровотока сосудов головного
                            мозга.</li>
                    </ul>
                    <div class="services__item-ready">
                        <svg class="time-icon">
                            <use href="./img/icons/icons.svg#time"></use>
                        </svg>
                        <span>Готовность 24 часа</span>
                    </div>
                    <div class="services__location">
                        <svg class="orange-map-icon">
                            <use href="./img/icons/icons.svg#map-orange"></use>
                        </svg>
                        <span>ДЦ на Ямской, ДЦ на Гольцова, ДЦ на Газовиков
                        </span>
                    </div>
                    <p class="price"><span>2 000 ₽</span> <span class="price_old">2 500 ₽</span></p>
                    <button class="btn">Записаться</button>
                </li>
            </ul>
        </div>

    </div>

</div>