<div class="signup light-green-block">
    <img class="signup__img" src="./img/uzi-signup.png" alt="signup">
    <h2>Запись на УЗИ</h2>
    <p>Узнать подробности проведения процедуры, цены УЗИ и записаться на консультацию специалиста Вы можете по телефону.</p>
    <a href="tel:+73452355560" class="phone">
        <svg>
            <use href="./img/icons/icons.svg#phone"></use>
        </svg>
        <p>8 (3452) <span>35-55-60</span></p>
    </a>
    <button class="btn">Заказать обратный звонок</button>
</div>